body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
p {
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.lgo {
  color: #2e2f42;
}
.ref-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.ref-page:hover,
.ref-page:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info:hover,
.info:focus {
  color: #404bbf;
}
.sec-1 {
  background-color: #2e2f42;
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.strat-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.sec-team {
  background-color: #f4f4fd;
}
.title-2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.list {
  background-color: #ffffff;
}
.foot {
  background-color: #2e2f42;
}
.text-2 {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
